<!DOCTYPE html>
<html lang="en">
<head>
	<title>Newsworthy Vision Ltd. - Add team</title>
</head>
<body>
	{{> header}}

	<script>
	$(document).ready(function() {
  for (i = 1; i < 21; i++) {
    text = "<div class='form-group row'><div class='col-md-4'><input id='player" + i + "Name' name='player" + i + "Name' placeholder='Firstname Lastname' type='text' class='form-control here'></div><div class='col-md-4'><select id='player" + i + "Number' name='player" + i + "Number'  class='form-control here jerseyNumber'></select></div><div class='col-md-4'><select id='player" + i + "Position' name='player" + i + "Position'  class='form-control here position'><option value='--'>--</option><option value='Goaltender'>Goaltender</option><option value='Forward'>Forward</option><option value='Defense'>Defense</option></select></div>";
    var playerSpan = $('.player');
    playerSpan.append($(text));
  }

  $(".jerseyNumber").each(function(){
    var $select = $(this);
    for (n=0;n<=99;n++){
      $select.append($('<option></option>').val(n).text(n))
    }
  });
});
</script>
<!-- <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
<script>
    document.getElementById("upload_widget_opener").addEventListener("click", function() {

        cloudinary.openUploadWidget({ cloud_name: 'CLOUD_NAME', upload_preset: 'UPLAOD_PRESET'},
                function(error, result) {
                    console.log(error, result)
                    // Push URL into text input
                    document.getElementById('url_text').value = result[0].url;
                });

    }, false);
</script> -->
	<div class="container-fluid" id="body">
	    <div class="container" id="page-header">
	        <h1><span id="headline">Add a team</span></h1>
	        <hr>
	        <h3><span id="subheadline">Please enter the information below to add to the database</span></h3>
						<form method="post" action="/create" enctype="multipart/form-data">
							<div class="form-group row">
								<div class="col-md-4">
    						<label for="teamName" class="col-form-label">Team Name</label>
								<input id="teamName" name="teamName" placeholder="London Lemmings" type="text" required="required" class="form-control here">
    						</div>
								<div class="col-md-4">
    						<label for="teamNameShort" class="col-form-label">Team Short Name</label>
      						<input id="teamNameShort" name="teamNameShort" placeholder="LLM" type="text" aria-describedby="teamNameShortHelpBlock" required="required" maxlength="3" class="form-control here">
      						<span id="teamNameShortHelpBlock" class="form-text text-muted">Three Characters Only</span>
    						</div>
  						</div>
  						<div class="form-group row">
								<div class="col-md-4">
    						<label for="headCoach" class="col-form-label">Head Coach</label>
      						<input id="headCoach" name="headCoach" type="text" class="form-control here">
    						</div>
								<div class="col-md-4">
    						<label for="teamManager" class="col-form-label">Team Manager</label>
      						<input id="teamManager" name="teamManager" type="text" class="form-control here">
    						</div>
								<div class="col-md-4">
									<label for="imageFile" class="col-form-label">Team Logo</label>
									<input type="file" class="btn btn-default" name="teamLogo" accept="image/png">
									<span id="teamLogoHelpBlock" class="form-text text-muted">Currently PNG files only</span>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-4">
									<strong>Player Names</strong>
								</div>
								<div class="col-md-4">
									<strong>Player Numbers</strong>
								</div>
								<div class="col-md-4">
									<strong>Player Positions</strong>
								</div>
						</div>
							<span class="player">
							</span>
  						<div class="form-group row">
    						<div class="col-md-6">
      						<button name="submit" type="submit" class="btn btn-primary">Submit</button>
    						</div>
  						</div>
						</form>
	    		<hr>
	    	</div>
			</div>
			{{> footer}}
		</body>
</html>
