<!DOCTYPE html>
<html>
<head>
	<title>Newsworthy Vision Ltd.</title>
</head>
<body>
	{{> header}}
	<div class="container-fluid" id="body">
		<div class="container" id="page-header">
			<h1><span id="headline">StatCaster</span></h1>
				<hr>
				<h3><span id="subheadline">Getting your graphic information to where it's needed.</span></h3>
				<hr>
					<span id="content">
						<div class="row">
							<div class="container col-md-12">
								<p>StatCaster is a cloud based solution for vMix users to easily create their own JSON datasources for dynamic graphics, which can be updated in real-time.</p>
								<p>The software is currently firmly in an <strong>ALPHA</strong> state, and should not be relied upon for mission critical data or broadcasting.</p>
								<p>In this early stage, it is geared towards a sports team setup, in particular Ice Hockey. This will change in the future to allow for other sports and events.</p>
								<p>It is currently only open for testing for approved users, and not ready for widespread distribution. For access, please email development@newsworthyvision.com</p>
							</div>
						</div>
					</span>
					<hr>
		</div>


	{{> footer}}
</body>
</html>
