<!DOCTYPE html>
<html>
<head>
	<title>Statcaster - Team Update</title>

</head>
<body>
	{{> header}}

	<script>
	$(document).ready(function() {
	for (i = 1; i < 21; i++) {
		text = "<div class='form-group row'><div class='col-md-4'><input id='player" + i + "Name' name='player" + i + "Name' value='{{#each team.team.teamRoster.players}}{{playerName}}{{/each}}' type='text' class='form-control here'></div><div class='col-md-4'><select id='player" + i + "Number' name='player" + i + "Number'  class='form-control here jerseyNumber'></select></div><div class='col-md-4'><select id='player" + i + "Position' name='player" + i + "Position'  class='form-control here position'><option value='--'>--</option><option value='Goaltender'>Goaltender</option><option value='Forward'>Forward</option><option value='Defense'>Defense</option></select></div>";
		var playerSpan = $('.player');
		playerSpan.append($(text));
	}

	$(".jerseyNumber").each(function(){
		var $select = $(this);
		for (n=0;n<=99;n++){
			$select.append($('<option></option>').val(n).text(n))
		}
	});
});
</script>

	<div class="container-fluid" id="body">
		<div class="container" id="page-header">
	  	<h1><span id="headline">Team Update</span></h1>
	    	<hr>
	    	<h3><span id="subheadline"></span></h3>
				<form method="patch" action="/update" enctype="multipart/form-data">
					<div class="form-group row">
						<div class="col-md-4">
						<label for="teamName" class="col-form-label">Team Name</label>
						<input id="teamName" name="teamName" value="{{team.team.teamName}}" type="text" required="required" class="form-control here">
						</div>
						<div class="col-md-4">
						<label for="teamShortName" class="col-form-label">Team Short Name</label>
							<input id="teamShortName" name="teamShortName" value="{{team.team.shortTeamName}}" type="text" aria-describedby="teamShortNameHelpBlock" required="required" maxlength="3" class="form-control here">
							<span id="teamShortNameHelpBlock" class="form-text text-muted">Three Characters Only</span>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-4">
						<label for="coachName" class="col-form-label">Coach Name</label>
							<input id="coachName" name="coachName" value="{{team.team.teamRoster.teamCoach}}" type="text" class="form-control here">
						</div>
						<div class="col-md-4">
							<label for="imageFile" class="col-form-label">Team Logo</label>
							<input type="file" class="btn btn-default" name="teamLogo" accept="image/png">
							<span id="teamLogoHelpBlock" class="form-text text-muted">Currently PNG files only</span>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-4">
							<strong>Player Names</strong>
						</div>
						<div class="col-md-4">
							<strong>Player Numbers</strong>
						</div>
						<div class="col-md-4">
							<strong>Player Positions</strong>
						</div>
				</div>
					<span class="player">
					</span>
					<div class="form-group row">
						<div class="col-md-6">
							<button name="submit" type="submit" class="btn btn-primary">Submit</button>
						</div>
					</div>
				</form>
					<hr>
		</div>

	{{> footer}}
</body>
</html>
